@import url(variables.css);


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.row_1{
    width : 539px;
    height: 582px;
    position: absolute;
    top: 125px;
    left: 100px;
}

.row_2{
    width : 539px;
    height: 720px;
    background: blue ;
    position: absolute;
    top: 50px;
    right: 100px;
}